*/*.ix filter=lfs diff=lfs merge=lfs -text
SIRV_figure/nanopore_reads_hub/SIRVs/trix.ix filter=lfs diff=lfs merge=lfs -text
SIRV_figure/nanopore_reads/STAR_index/SAindex filter=lfs diff=lfs merge=lfs -text
